/*---reset start---*/
body{
	padding: 0;
	margin: 0;
}
/*---reset end---*/
.container{
	padding: 
}
.wrapper{
	display: flex;
	flex-flow: row wrap;
	text-align: center;
	margin: 0 -15px;
}

.wrapper>*{
	flex: 1 100%;
	border-radius: 10px;
}
.main{
	text-align: left;
	background: blue;
	height: 300px;
	font-size: 24px;	
}

.aside1{
	background: gold;
}

.aside2{
	background: hotpink;
}
.item{
	margin: 15px;
}
@media all and (min-width: 800px){
	.main{
		flex: 1;
	}
	.main1{
		order: 1;
	}
	.aside1{
		order: 2;
	}
	.aside2{
		order: 3;
	}
	.main2{
		order: 4;
	}
}

@media all and (min-width: 600px){
	.aside{
		flex: 1;
	}
}

@media all and (max-width: 768px){
	.wrapper>*{
		flex: 1 50%;
	}
	article{
		flex: 1;
	}
	.wrapper{
		margin: 0;
	}
}
